server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: auth_user
    password: auth_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

jwt:
  secret: 9a6034636af4cf6c051b3a07d761e220e5ee853c34e71fa87db104f7cc237055
  expiration: 3600000    # 1 hour
  refresh-expiration: 604800000  # 7 days
